:root,
:host {
  --vro-icon-duration: 2s;
}

.vro-icon {
  display: inline-block;
  position: relative;
  fill: currentColor;

  img {
    display: block;
    width: 1em;
    height: 1em;
    object-fit: contain;
  }

  svg {
    height: 1em;
    width: 1em;
    fill: currentColor;
  }

  &.is-loading {
    animation: rotating var(--vro-icon-duration) linear infinite;
  }
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
