:root,
:host {
  --vro-icon-duration: 2s;
  --vro-icon-size: inherit;
  --vro-icon-color: inherit;
}

.vro-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  line-height: 1em;
  font-size: var(--size);
  color: var(--color);

  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  img {
    display: block;
    width: 1em;
    height: 1em;
    object-fit: contain;
  }

  svg {
    height: 1em;
    width: 1em;
    fill: currentColor;
    stroke: currentColor;
  }

  &.is-loading {
    animation: rotating var(--duration) linear infinite;
  }
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
