.vro-icon {
  display: inline-block;
  position: relative;
  fill: currentColor;

  img {
    display: block;
    width: 1em;
    height: 1em;
    object-fit: contain;
  }

  svg {
    height: 1em;
    width: 1em;
  }
}
