:root,
:host {
  --vro-van-picker-filter-font-size: 14px;
  --vro-van-picker-filter-height: 36px;
  --vro-van-picker-filter-background: var(--van-background-2);
  --vro-van-picker-filter-color: var(--van-text-color);
  --vro-van-picker-filter-placeholder-color: var(--van-text-color-3);
}

.vro-van-picker-filter {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: var(--vro-van-picker-filter-height);
  padding: 0 16px;
  color: var(--vro-van-picker-filter-color);
  font-size: var(--vro-van-picker-filter-font-size);
  outline: none;
  border: none;
  background-color: transparent;

  &::placeholder {
    color: var(--vro-van-picker-filter-placeholder-color);
  }
}
