<template>
  <div class="{{ dashCase name }}">
    <span>{{ dashCase name }}</span>
  </div>
</template>

<script setup lang="ts">
  import { {{ camelCase name }}Props } from './types'

  defineProps({{ camelCase name }}Props)
</script>
