.vro-el-skeleton {
  width: 100%;
}

.vro-el-skeleton__state {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: inherit;
}

.vro-el-skeleton__loading {
  color: var(--el-text-color-secondary);
}
