:root,
:host {
  --vro-el-file-upload-gap: 8px;
  --vro-el-file-upload-item-font-size: 14px;
  --vro-el-file-upload-item-line-height: 1.5;
  --vro-el-file-upload-link-color: var(--el-color-primary);
  --vro-el-file-upload-clear-gap: 10px;
  --vro-el-file-upload-clear-color: var(--el-color-danger);
  --vro-el-file-upload-clear-background: var(--el-fill-color-light);
}

.vro-el-file-upload-btn {
  position: relative;

  input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.vro-el-file-upload-content {
  padding: 0;
  margin: var(--vro-el-file-upload-gap) 0 0;
  list-style: none;
}

.vro-el-file-upload-item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-top: var(--vro-el-file-upload-gap);
  font-size: var(--vro-el-file-upload-item-font-size);
  line-height: var(--vro-el-file-upload-item-line-height);

  a {
    min-width: 0;
    margin-right: var(--vro-el-file-upload-clear-gap);
    color: var(--vro-el-file-upload-link-color);
    text-decoration: underline;
    word-break: break-all;
  }
}

.vro-el-file-upload-clear {
  flex: none;
  color: var(--vro-el-file-upload-clear-color);
  background-color: var(--vro-el-file-upload-clear-background);
  cursor: pointer;
}
