:root,
:host {
  --vro-el-table-actions-column-row-gap: 4px;
  --vro-el-table-actions-column-column-gap: 12px;
}

.vro-el-table-actions-column-cell {
  .cell {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--vro-el-table-actions-column-row-gap);
    column-gap: var(--vro-el-table-actions-column-column-gap);
    > .el-button + .el-button {
      margin-left: 0;
    }
  }
}

.vro-el-table-actions-column-dropdown-action {
  &.is-primary {
    color: var(--el-color-primary);
  }

  &.is-success {
    color: var(--el-color-success);
  }

  &.is-warning {
    color: var(--el-color-warning);
  }

  &.is-danger {
    color: var(--el-color-danger);
  }

  &.is-info {
    color: var(--el-color-info);
  }
}
