:root,
:host {
  --vro-van-cell-font-size: 14px;
  --vro-van-cell-prefix-icon-size: 18px;
  --vro-van-cell-suffix-icon-size: 18px;
  --vro-van-cell-background: var(--van-background-2);
  --vro-van-cell-label-color: var(--van-text-color);
  --vro-van-cell-value-color: var(--van-text-color-2);
  --vro-van-cell-border-color: var(--van-border-color);
  --vro-van-cell-asterisk-color: var(--van-danger-color);
}

.vro-van-cell {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  font-size: var(--vro-van-cell-font-size);
  padding: 10px 16px;
  line-height: 1.6;
  background-color: var(--vro-van-cell-background);
  &::after {
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
    right: 0;
    left: 0;
    bottom: 0;
    content: ' ';
    /* prettier-ignore */
    border-bottom: 1PX solid var(--vro-van-cell-border-color);
    transform: scaleY(0.5);
  }

  &.is-row {
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 10px;
    .vro-van-cell-value {
      justify-content: flex-end;
    }
    .vro-van-cell-value-text {
      text-align: right;
    }
  }

  &.is-clickable {
    cursor: pointer;
    &:active {
      opacity: 0.8;
    }
  }

  &.is-column {
    flex-direction: column;
  }

  &.is-required:not(.is-no-asterisk) {
    .vro-van-cell-label {
      &:before {
        position: absolute;
        left: -8px;
        content: '*';
        color: var(--vro-van-cell-asterisk-color);
      }
    }
  }

  &.is-arrow {
    cursor: pointer;
    &:active {
      opacity: 0.8;
    }
  }

  &.is-align-item-center {
    align-items: center;
  }

  &.is-ellipsis {
    .vro-van-cell-value {
      overflow: hidden;
    }
    .vro-van-cell-value-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      min-width: 0;
    }
  }

  &.is-line-clamp {
    .vro-van-cell-value-text {
      padding-bottom: 4px;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: var(--vro-van-cell-line-clamp);
      line-clamp: var(--vro-van-cell-line-clamp);
      -webkit-box-orient: vertical;
    }
  }
}

.vro-van-cell-label {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--vro-van-cell-label-color);
  column-gap: 8px;
}

.vro-van-cell-label-text {
  padding: 4px 0;
}

.vro-van-cell-value {
  flex: 1;
  display: flex;
  align-items: center;
  word-break: break-all;
  min-height: 30px;
  color: var(--vro-van-cell-value-color);
  column-gap: 8px;
}

.vro-van-cell-value-text {
  flex: 1;
  padding: 4px 0;
}

.vro-van-cell-arrow {
  line-height: 30px;
}

.vro-van-cell-prefix-icon {
  --vro-icon-size: var(--vro-van-cell-prefix-icon-size);
  cursor: pointer;
}

.vro-van-cell-suffix-icon {
  --vro-icon-size: var(--vro-van-cell-suffix-icon-size);
  cursor: pointer;
}
