:root,
:host {
  --vro-van-picker-toolbar-height: 44px;
  --vro-van-picker-toolbar-action-padding: 0 16px;
  --vro-van-picker-toolbar-action-min-width: 64px;
  --vro-van-picker-toolbar-action-font-size: 14px;
  --vro-van-picker-toolbar-cancel-action-color: var(--van-text-color-2);
  --vro-van-picker-toolbar-confirm-action-color: var(--van-primary-color);
  --vro-van-picker-toolbar-title-color: var(--van-text-color);
  --vro-van-picker-toolbar-title-font-size: 16px;
  --vro-van-picker-toolbar-title-font-weight: 600;
}

.vro-van-picker-toolbar {
  height: var(--vro-van-picker-toolbar-height);
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.vro-van-picker-toolbar-button {
  position: absolute;
  min-width: var(--vro-van-picker-toolbar-action-min-width);
  padding: var(--vro-van-picker-toolbar-action-padding);
  border: none;
  font-size: var(--vro-van-picker-toolbar-action-font-size);
  background-color: transparent;
  top: 0;
  bottom: 0;
  cursor: pointer;

  &.is-cancel {
    left: 0;
    color: var(--vro-van-picker-toolbar-cancel-action-color);
    text-align: left;
  }

  &.is-confirm {
    right: 0;
    color: var(--vro-van-picker-toolbar-confirm-action-color);
    text-align: right;
  }
}

.vro-van-picker-toolbar-title {
  max-width: 60%;
  overflow: hidden;
  margin: 0 auto;
  color: var(--vro-van-picker-toolbar-title-color);
  font-weight: var(--vro-van-picker-toolbar-title-font-weight);
  font-size: var(--vro-van-picker-toolbar-title-font-size);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
