:root,
:host {
  --vro-van-navbar-height: 46px;
  --vro-van-navbar-padding-x: 16px;
  --vro-van-navbar-background: var(--van-background-2);
  --vro-van-navbar-title-color: var(--van-text-color);
  --vro-van-navbar-title-font-size: var(--van-font-size-lg);
  --vro-van-navbar-title-font-weight: var(--van-font-bold);
  --vro-van-navbar-text-color: var(--van-primary-color);
  --vro-van-navbar-icon-size: 18px;
  --vro-van-navbar-border-color: var(--van-border-color);
}

.vro-van-navbar {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--vro-van-navbar-background);

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &.is-border::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: var(--vro-van-navbar-border-color);
    transform: scaleY(0.5);
    content: '';
  }

  &.is-safe-area-inset-top {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
}

.vro-van-navbar-inner {
  position: relative;
  width: 100%;
  height: var(--vro-van-navbar-height);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.vro-van-navbar-placeholder {
  height: var(--vro-van-navbar-height);

  &.is-safe-area-inset-top {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
}

.vro-van-navbar-title {
  margin: 0 auto;
  max-width: 60%;
  color: var(--vro-van-navbar-title-color);
  font-weight: var(--vro-van-navbar-title-font-weight);
  font-size: var(--vro-van-navbar-title-font-size);
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vro-van-navbar-left,
.vro-van-navbar-right {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 var(--vro-van-navbar-padding-x);
  color: var(--vro-van-navbar-text-color);
  font-size: 14px;

  &.is-clickable {
    cursor: pointer;
  }
}

.vro-van-navbar-left {
  left: 0;
  justify-content: flex-start;
  gap: 4px;
}

.vro-van-navbar-right {
  right: 0;
  justify-content: flex-end;
}

.vro-van-navbar-left-icon {
  flex: none;
  font-size: var(--vro-van-navbar-icon-size);
}
