:root,
:host {
  --vro-el-image-upload-gap: 10px;
  --vro-el-image-upload-item-size: 100px;
  --vro-el-image-upload-item-radius: 4px;
  --vro-el-image-upload-item-border-color: var(--el-border-color);
  --vro-el-image-upload-item-icon-size: 24px;
  --vro-el-image-upload-checkerboard-size: 8px;
  --vro-el-image-upload-clear-size: 20px;
  --vro-el-image-upload-clear-color: #fff;
  --vro-el-image-upload-clear-background: var(--el-color-danger);
}

.vro-el-image-upload-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--vro-el-image-upload-gap) * -1);
}

.vro-el-image-upload-item {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--vro-el-image-upload-item-size);
  height: var(--vro-el-image-upload-item-size);
  margin-top: var(--vro-el-image-upload-gap);
  margin-right: var(--vro-el-image-upload-gap);
  font-size: var(--vro-el-image-upload-item-icon-size);
  border: 1px dashed var(--vro-el-image-upload-item-border-color);
  border-radius: var(--vro-el-image-upload-item-radius);

  .vro-el-image-upload-image,
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAlQTFRFyMjI////1tbWF77ztQAAABZJREFUeJxjYGAIDWUggggNbWAgggAA918Ooanz2WEAAAAASUVORK5CYII=)
      center !important;
    background-size: var(--vro-el-image-upload-checkerboard-size) !important;
    border-radius: var(--vro-el-image-upload-item-radius);
    transform: translate3d(0, 0, 0);
  }

  input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--vro-el-image-upload-item-radius);
    opacity: 0;
  }
}

.vro-el-image-upload-clear {
  position: absolute;
  top: -6px;
  right: -6px;
  color: var(--vro-el-image-upload-clear-color);
  font-size: var(--vro-el-image-upload-clear-size);
  background: var(--vro-el-image-upload-clear-background);
  border-radius: 50%;
  cursor: pointer;
}
