:root,
:host {
  --vro-van-field-input-color: var(--van-text-color);
  --vro-van-field-placeholder-color: var(--van-text-color-3);
  --vro-van-field-disabled-color: var(--van-text-color-3);
  --vro-van-field-clear-color: var(--van-gray-5);
  --vro-van-field-unit-color: var(--van-text-color);
}

.vro-van-field {
  &.is-column {
    .vro-van-field-input {
      text-align: left;
    }
  }
}

.vro-van-field-input {
  box-sizing: border-box;
  display: block;
  flex: 1;
  min-width: 0;
  width: 100%;
  padding: 4px 0;
  border: 0;
  outline: 0;
  color: var(--vro-van-field-input-color);
  font: inherit;
  line-height: inherit;
  text-align: right;
  background: transparent;
  appearance: none;

  &::placeholder {
    color: var(--vro-van-field-placeholder-color);
  }

  &:disabled {
    color: var(--vro-van-field-disabled-color);
    cursor: not-allowed;
    opacity: 1;
    -webkit-text-fill-color: var(--vro-van-field-disabled-color);
  }

  &[readonly] {
    cursor: default;
  }
}

.vro-van-field-clear {
  --vro-icon-size: 16px;
  flex: none;
  color: var(--vro-van-field-clear-color);
  line-height: 1;
  cursor: pointer;
}

.vro-van-field-unit {
  flex: none;
  color: var(--vro-van-field-unit-color);
  white-space: nowrap;
}
