:root,
:host {
  --vro-van-plate-picker-keys-padding: 16px;
  --vro-van-plate-picker-key-height: 40px;
  --vro-van-plate-picker-key-gap: 8px;
  --vro-van-plate-picker-key-radius: 4px;
  --vro-van-plate-picker-key-color: var(--van-text-color);
  --vro-van-plate-picker-key-background: var(--van-background);
  --vro-van-plate-picker-key-active-color: var(--van-primary-color);
  --vro-van-plate-picker-key-active-background: color-mix(
    in srgb,
    var(--van-primary-color) 10%,
    #fff
  );
  --vro-van-plate-picker-border-color: var(--van-border-color);
}

.vro-van-plate-picker {
  background: var(--van-background-2);
}

.vro-van-plate-picker-extra-keys {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: var(--vro-van-plate-picker-key-gap);
  margin: 0;
  padding: var(--vro-van-plate-picker-keys-padding);
  /* prettier-ignore */
  border-bottom: 1PX solid var(--vro-van-plate-picker-border-color);
}

.vro-van-plate-picker-keys {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: var(--vro-van-plate-picker-key-gap);
  margin: 0;
  padding: var(--vro-van-plate-picker-keys-padding);
}

.vro-van-plate-picker-extra-key,
.vro-van-plate-picker-key {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--vro-van-plate-picker-key-height);
  border-radius: var(--vro-van-plate-picker-key-radius);
  color: var(--vro-van-plate-picker-key-color);
  font-size: var(--van-font-size-md);
  background: var(--vro-van-plate-picker-key-background);
}

.vro-van-plate-picker-extra-key.is-active,
.vro-van-plate-picker-key.is-active {
  color: var(--vro-van-plate-picker-key-active-color);
  background: var(--vro-van-plate-picker-key-active-background);
}
