:root,
:host {
  --vro-el-schema-form-drawer-size: 420px;
}

.vro-el-schema-form-drawer {
  --el-drawer-padding-primary: 16px;

  .el-drawer__body {
    min-width: 0;
    overflow-y: auto;
  }
}

.vro-el-schema-form-drawer-footer {
  display: flex;
  justify-content: flex-end;
}
