:root,
:host {
  --vro-van-image-loading-background: var(--van-gray-1);
  --vro-van-image-loading-image: url('../img-loading.gif');
  --vro-van-image-loading-size: min(10px, 10%);
}

.vro-van-image {
  &.is-loading {
    background: var(--vro-van-image-loading-background) var(--vro-van-image-loading-image) center
      no-repeat;
    background-size: var(--vro-van-image-loading-size);
  }
}
