:root,
:host {
  --vro-el-image-placeholder-background: var(--el-fill-color-light);
  --vro-el-image-loading-color: #999;
  --vro-el-image-loading-size: max(var(--vro-loading-size));
}
.vro-el-image {
  --vro-loading-color: var(--vro-el-image-loading-color);
  --vro-loading-size: var(--vro-el-image-loading-size);
}
.vro-el-image-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--vro-el-image-placeholder-background);
}
