@forward 'define.scss';

:root {
  --bg-color: #fff;
  --body-color: #eff2f5;
  --border-color: #dcdfe6;
  --header-height: 64px;
  --sidebar-width: 270px;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--body-color);
}

#app {
  min-height: 100vh;
}
