.vro-doc-markdown-body {
  pre {
    margin: 16px 0;
    padding: 16px;
    overflow: auto;
    background: #f7f8fa;
    border-radius: 8px;
  }

  code {
    font-family: var(--vro-doc-code-font-family);
  }

  .hljs {
    color: #58727e;
    background: transparent;
  }
}
