:root {
  --vro-doc-background: #eff2f5;
  --vro-doc-background-2: #fff;
  --vro-doc-background-3: #f7f8fa;
  --vro-doc-border-color: #ebedf0;
  --vro-doc-text-color-1: #323233;
  --vro-doc-text-color-2: #455a64;
  --vro-doc-text-color-3: #646566;
  --vro-doc-text-color-4: #969799;
  --vro-doc-link-color: #1989fa;
  --vro-doc-header-height: 64px;
  --vro-doc-nav-width: 260px;
  --vro-doc-simulator-width: 360px;
  --vro-doc-padding: 24px;
  --vro-doc-border-radius: 12px;
  --vro-doc-row-max-width: 1680px;
  --vro-doc-code-font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;
}
