:root,
:host {
  --vro-van-keyboard-padding: 12px;
  --vro-van-keyboard-gap: 8px;
  --vro-van-keyboard-display-height: 40px;
  --vro-van-keyboard-display-padding: 0 12px;
  --vro-van-keyboard-display-color: var(--van-text-color);
  --vro-van-keyboard-display-placeholder-color: var(--van-text-color-3);
  --vro-van-keyboard-display-background: var(--van-background);
  --vro-van-keyboard-key-height: 42px;
  --vro-van-keyboard-key-radius: 4px;
  --vro-van-keyboard-key-color: var(--van-text-color);
  --vro-van-keyboard-key-background: var(--van-background);
  --vro-van-keyboard-key-active-color: var(--van-primary-color);
  --vro-van-keyboard-key-active-background: color-mix(
    in srgb,
    var(--van-primary-color) 10%,
    #fff
  );
  --vro-van-keyboard-key-disabled-color: var(--van-text-color-3);
  --vro-van-keyboard-key-disabled-background: var(--van-gray-2);
}

.vro-van-keyboard {
  background: var(--van-background-2);
}

.vro-van-keyboard-display {
  display: flex;
  align-items: center;
  gap: var(--vro-van-keyboard-gap);
  height: var(--vro-van-keyboard-display-height);
  margin: 0 var(--vro-van-keyboard-padding) var(--vro-van-keyboard-gap);
  padding: var(--vro-van-keyboard-display-padding);
  border-radius: var(--vro-van-keyboard-key-radius);
  color: var(--vro-van-keyboard-display-color);
  font-size: var(--van-font-size-md);
  background: var(--vro-van-keyboard-display-background);
}

.vro-van-keyboard-display-value {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vro-van-keyboard-display-value.is-placeholder {
  color: var(--vro-van-keyboard-display-placeholder-color);
}

.vro-van-keyboard-display-copy {
  flex: none;
  padding: 0;
  border: 0;
  color: var(--van-primary-color);
  font-size: var(--van-font-size-md);
  background: transparent;
}

.vro-van-keyboard-content {
  display: grid;
  gap: var(--vro-van-keyboard-gap);
  margin: 0;
  padding: 0 var(--vro-van-keyboard-padding) var(--vro-van-keyboard-padding);
  list-style: none;
}

.vro-van-keyboard-row {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: var(--vro-van-keyboard-gap);
}

.vro-van-keyboard-key {
  grid-column: span 1;
  height: var(--vro-van-keyboard-key-height);
  padding: 0 4px;
  border: 0;
  border-radius: var(--vro-van-keyboard-key-radius);
  color: var(--vro-van-keyboard-key-color);
  font-size: var(--van-font-size-md);
  background: var(--vro-van-keyboard-key-background);
}

.vro-van-keyboard-key.is-delete,
.vro-van-keyboard-key.is-sure {
  grid-column: span 2;
}

.vro-van-keyboard-key.is-sure {
  color: var(--vro-van-keyboard-key-active-color);
  background: var(--vro-van-keyboard-key-active-background);
}

.vro-van-keyboard-key:disabled {
  color: var(--vro-van-keyboard-key-disabled-color);
  background: var(--vro-van-keyboard-key-disabled-background);
}
